@using Demo.Core.Models;
@using EnumsNET
@model List<Order>

<section class="order-confirmation">
    <div class="container">
        @if (Model?.Any() == true)
        {
            <div class="confirmation-message">
                <p>Đặt hàng thành công!</p>
            </div>
            <h2 class="order-history-title">Lịch sử đơn hàng của bạn</h2>
            <table class="order-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã đơn hàng</th>
                        <th>Khoá học</th>
                        <th>Ngày tạo</th>
                        <th>Thanh toán</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr class="order-row">
                            <td>@(i + 1)</td>
                            <td>@Model[i].Code</td>
                            <td>@Model[i].GetCourseNames()</td>
                            <td>@Model[i].Created.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].Price.ToString("N0") VND</td>
                            <td>@Model[i].Status.AsString(EnumFormat.Description)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Không có đơn hàng nào!</p>
        }
    </div>
</section>

<style>
    .confirmation-message {
        background-color: #2d6a4f;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>