@using Demo.Core.Models
@using Demo.Web.Extensions
@model Class

@{
    ViewData["Title"] = "Thiết lập Lớp học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var courses = ViewBag.Courses as List<Demo.Core.Models.Course>;
    var lessons = ViewBag.Lessons as List<Demo.Core.Models.Lesson>;
}

<div class="card mt-2 mb-2 shadow-base">
    <div class="card-body pb-0">
        <form method="post" enctype="multipart/form-data" asp-controller="Class" asp-action="Edit" id="editForm">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Created)
            @Html.HiddenFor(m => m.CreatedBy)
            @Html.HiddenFor(m => m.Thumb)
            @Html.HiddenFor(m => m.FriendlyUrl)
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <p>Model ID: @Model.Id</p>
            <div class="row mb-lg-2">
                <div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(m => m.ClassName) @Html.RequireLabel()
                    @Html.TextBoxFor(m => m.ClassName, new
                        {
                            Class = "form-control form-control-smy",
                            required = "required"
                        })
                </div>
            </div>
            <div class="row mb-lg-2">
                <div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(m => m.Thumb) @Html.RequireLabel()
                    <partial name="_EditImage" model="@Model.Thumb" />
                </div>
            </div>
            <div class="row mb-lg-2">
                <div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(m => m.course)
                    <select class="form-control" id="courseSelection" name="CourseId">
                        @if (Model.course?.Title != null)
                        {
                            <!-- Display the selected course -->
                            <option value="@Model.course.Id" selected>@Model.course.Title</option>

                            <!-- Display the list of courses, excluding the selected one -->
                            @foreach (var course in courses)
                            {
                                @if (course.Id != Model.course.Id)
                                {
                                    <option value="@course.Id">@course.Title</option>
                                }
                            }
                        }
                        else
                        {
                            <!-- Display "Select a Course" if no course is selected -->
                            <option value="">-- Chọn khóa học --</option>
                            @foreach (var course in courses)
                            {
                                <option value="@course.Id" selected="@(Model.course?.Id == course.Id ? "selected" : null)">
                                    @course.Title
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-lg-2">
                <div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(m => m.lesson)
                    <select class="form-control" id="courseSelection" name="LessonId">
                        @if (Model.lesson?.Title != null)
                        {
                            <!-- Display the selected course -->
                            <option value="@Model.lesson.Id" selected>@Model.lesson.Title</option>

                            <!-- Display the list of courses, excluding the selected one -->
                            @foreach (var lesson in lessons)
                            {
                                @if (lesson.Id != Model.lesson.Id)
                                {
                                    <option value="@lesson.Id">@lesson.Title</option>
                                }
                            }
                        }
                        else
                        {
                            <!-- Display "Select a Course" if no course is selected -->
                            <option value="">-- Chọn bài giảng --</option>
                            @foreach (var lesson in lessons)
                            {
                                <option value="@lesson.Id" selected="@(Model.lesson?.Id == lesson.Id ? "selected" : null)">
                                    @lesson.Title
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-lg-2">
                <div class="col-md-12 col-sm-12 search-item">
                    @Html.LabelFor(m => m.Description) @Html.RequireLabel()
                    @Html.TextAreaFor(m => m.Description, new
                        {
                            Class = "form-control form-control-smy h-100",
                            required =
                             "required"
                        })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(x => x.Active) &nbsp;
                    @Html.CheckBoxFor(m => m.Active)
                </div>
            </div>
            <hr />
            <div class="mb-2">
                <button class="btn btn-success" type="button" onclick="$('#editForm').submit()">Lưu</button>
                <a href="@Context.Request.Query["returnUrl"]" class="btn btn-outline-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="https://cdn.tiny.cloud/1/mbx1d96tuje4gp42frlv3fq1gpxrftgpiavfttwwubl2fn70/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        common.initTinyMce('#Content');
    </script>
}