@using Demo.Core.Models
@model List<Class>
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Danh sách lớp học";
}
@section Button {
    <a href="@Url.Action("Edit", new { returnUrl = Context.Request.GetEncodedUrl()})"
        class="btn btn-primary btn-sm pull-right">Thêm mới</a>
}
<div class="card mt-2 mb-2 shadow-base pd-b-10">
    <div class="card-body pb-0">
        <table class="table mg-b-0" cellspacing="0">
            <tr>
                <th>STT</th>
                <th>
                    Tên lớp
                </th>
                <th>
                    Ảnh đại diện
                </th>
                <th>
                    Khoá học
                </th>
                <th>
                    Môn học
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Trạng thái
                </th>
            </tr>

            @{
                var stt = 1;
                foreach (var item in Model.OrderBy(x => x.Created))
                {
                    <tr class="stat even">
                        <td class="ac">
                            @(stt++)
                        </td>
                        <td>
                            <a
                                href="@Url.Action("Edit", new { item.Id, returnUrl = Context.Request.GetEncodedUrl()})">@item.ClassName</a>
                        </td>
                        <td>
                            <img src="@item.Thumb" class="img64x64" />
                        </td>
                        <td>@(item.course != null && !string.IsNullOrEmpty(item.course.Title) ? item.course.Title : "No course assigned")</td>
                        <td>@(item.lesson != null && !string.IsNullOrEmpty(item.lesson.Title) ? item.lesson.Title : "No lesson assigned")</td>
                        <td>@item.Created</td>
                        <td>
                            @if (item.Active == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Active</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Inactive</div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>